
/** header  section**/

nav {
    background-color: rgb(185, 184, 184);
    border: 2px solid black;
}

Nav div a {
    font-weight: bold;
}

nav div ul li {
    border-bottom: 2px solid black;
    font-weight:bold;
    background-color: white;
}

/** Content section**/

h1 {
    Padding-top: 20px;
    padding-bottom: 20px;
    font-size: 35px;
}

#box {
    background-color: rgb(185, 184, 184);
    text-align: center;
}

#box h2 {
    text-align: center;
    font-weight:500;
    font-size: 25px;
}

#box p {
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 500;
}